/*
*
* @author Celio Nascimento
* @version 1.0
*
*/

/* ================================= layout ======================== */

body {

	background: url('../imagens/img-bar4.jpg')no-repeat;
	background-size: cover;
	  

}

.img-logo {

	width: 210px;
	height: 28px;	
	background: url('../imagens/entretenimento.png')no-repeat;
	background-size: contain;
	display: block;
	color: transparent;
	margin-left: 16em;
	margin-top: 5px;
}

nav.navbar-barra-navegacao{

	padding: 0px 0px 45px 0px;
	border: none;
	background-color: rgba(0,0,0,0.8);
}


.conteudo {

	width: 750px;
	height: 750px;
	background-color: rgba(0,0,0,0.95) ;
	margin-top: 110px;
	margin-left: 210px;
	color: white;
	border-radius: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.titulo {

	margin: 30px 0px 0px 30px;

}

.formulario-cadastro {

	margin-top: 15px;
}

.botoes {

	margin-top: 65px;
	margin-left: 230px

}


}



.rodape-cadastro {
	background:black !important;
	width: 100%;
	height:70px;
	margin-top: 348px;
	color: white;
	text-align: center;
}
.img-rodape {

	display: block;
	width: 157px;
	height: 30px;
	background:url('../imagens/entretenimento.png')no-repeat;
	background-size: contain;
	color: transparent;
	margin-top: 15px
}

.direitos {
	margin-top: 45px;
	margin-left: 90px;
}

.fale-conosco{

	margin-left: 60px

}



.navbar-inverse .navbar-nav>li>a {
    color: white !important;
}



/* --------------------------------- media queries -------------------------------------*/

/* --------------------------------- xs < 540px -------------------------------------*/

@media screen and (max-width: 540px){

	body {

	
	}

	nav.navbar-barra-navegacao{

	padding: 0px 0px 15px 0px;
	border: none;
}

.img-logo {

	margin-left: 70px;
	margin-top: 5px;
}

.conteudo {

	width: 340px;
	height: 930px;
	margin-left: -5px;
}

.botoes {

	margin-top: 50px;
	margin-left: 100px;

}

.btn-cadatrar{

}

.btn-cancelar{
	margin-top: 15px;
	margin-left: 3px;
}


	.rodape-cadastro {
	background:black !important;
	width: 100%;
	height:165px;
	margin-top: 150px;
}

.img-rodape {

	margin-left: 90px
}

.fale-conosco{

	margin-left: 45px

}

.direitos {
	margin-top: 45px;
	margin-left: 70px;
}

}

/* --------------------------------- xs > 541px -------------------------------------*/

@media screen and (min-width: 541px){

	body {
		
	}

nav.navbar-barra-navegacao{

	padding: 0px 0px 15px 0px;

}

.img-logo {

	margin-left: 200px;
	margin-top: 5px;
}

.form-cadastro{

	margin-top: 100px;
	margin-left:10px;
}

.conteudo {

	width: 570px;
	height: 970px;
	margin-left: 1.5em; 

}

.botoes {

	margin-top: 50px;
	margin-left: 222px;

}

.btn-cadatrar{

}

.btn-cancelar{
	margin-top: 15px;
	margin-left: 3px;
}



.rodape-cadastro {
	background:black !important;
	width: 100%;
	height:165px;
	margin-top: 270px;
}

.img-rodape {

	margin-left: 220px
}

.fale-conosco{

	margin-left: 168px

}

.direitos {
	margin-top: 45px;
	margin-left: 205px;
}

}

/* --------------------------------- ms > 767px -------------------------------------*/

@media screen and (min-width: 767px){

	body {

	}
.conteudo {

	width: 670px;
	height: 970px;
	margin-left: 15px; 

}

.botoes {

	margin-top: 50px;
	margin-left: 270px;

}

.btn-cadatrar{

}

.btn-cancelar{
	margin-top: 15px;
	margin-left: 3px;
}

.rodape-cadastro {
	background:black !important;
	width: 100%;
	height:163px;
	margin-top: 270px;
}

.img-rodape {

	margin-left: 310px
}

.fale-conosco{

	margin-left: 245px

}

.direitos {
	margin-top: 45px;
	margin-left: 275px;
}
}

/* --------------------------------- ms > 992px -------------------------------------*/


@media screen and (min-width: 992px){



.conteudo {

	width: 710px;
	height: 620px;
	margin-left: 75px; 

}

.botoes {

	margin-top: 90px;
	margin-left: 240px;

}

.btn-cadatrar{

}

.btn-cancelar{
	margin-top: 0px;
	margin-left: 3px;
}

.rodape-cadastro {
	background:black !important;
	width: 100%;
	height:163px;
	margin-top: 270px;
}

.img-rodape {

	margin-left: 105px
}

.fale-conosco{
	margin-top: -55px;
	margin-left: 155px

}

.direitos {
	margin-top: 65px;
	margin-left: 380px;
}
}


/* --------------------------------- ms > 992px -------------------------------------*/


@media screen and (min-width: 1200px){

.conteudo {

	width: 710px;
	height: 620px;
	margin-left: 15em; 

}

.botoes {

	margin-top: 90px;
	margin-left: 16em;

}

.btn-cadatrar{

}

.btn-cancelar{
	margin-top: 0px;
	margin-left: 3px;
}

.rodape-cadastro {
	background:black !important;
	width: 100%;
	height:163px;
	margin-top: 270px;
}

.img-rodape {

	margin-left: 0em
}

.fale-conosco{
	margin-top: -4em;
	margin-left: 155px

}

.direitos {
	margin-top: 65px;
	margin-left: 380px;
}

}