/*
*
* @author Celio Nascimento
* @version 1.1
*
*/

/* ================================= layout index ======================== */

body{

	background:#8B0000 !important ;
	overflow-x: hidden;
}

.img-logo{
	width: 330px;
	height: 50px;
	margin: 50px 10px 20px 400px;
	background: url('../imagens/entretenimento.png')no-repeat;
	background-size: contain;
	color: transparent;

}


.conteudo-index{
	

	width: 100%;
	height: 750px;
	padding: 110px 10px 0px 320px;
	margin-top: 50px;
}

.cadastro-login{

	width: 495px;
	height: 550px;
	background: #fff;
	box-shadow: 2px 2px 2px black;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	
	
}

.login-index {


}

.formulario-index{
	
	max-width: 40ch;
	max-height: 25px;
	margin: 0px 10px 0px 35px;
	width: 100%;
	height: 1px;
}

.formulario-index label{

	color: transparent;
}
.formulario-index h3 {
	text-align: center;
}

.-form-login-index {

	font-size: 16px;
}


.botao-index{

	margin:45px 130px;
}

.link-estabelecimento{

	margin-top: 20px;
}


.cadastro-index{

	padding: 330px 5px 5px 10px ;
	width: 490px;
	height: 70px;
	text-align: center;
}

.cadastro-index a {



}


.btn-custom {

	border-radius: 10px !important;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin:25px 20px 0px 40px;
	

}


.rodape-index{

	margin: 104px 0px 0px 0px;
	background: black;
	height: 50px;
	width: 100%;
	text-align: center;

}

.logo-rodape {

	
	width: 230px;
	height: 34px;
	margin-left: 440px;
	margin-top: 15px;
	background: url('../imagens/logo-rodape.png')no-repeat;
	background-size: contain;
	color: transparent !important;


}

footer .navbar-nav>li>a:hover {
   background-color: black
}

.direitos {

	padding: 15px
}


/* --------------------------------- media queries -------------------------------------*/

/* --------------------------------- xs < 540px -------------------------------------*/

@media screen and (max-width: 540px){

	body {
	
	}

/* ------------------------------------ pagina index ----------------- */	

	.img-logo{
	width: 220px;
	height: 25px;
	margin: 30px 10px 20px 57px;
	background: url('../imagens/entretenimento.png')no-repeat;
	background-size: contain;

}

.conteudo-index{

	width: 100%;
	height: 750px;
	padding: 70px 10px 0px 15px;
	margin-top: 15px;
}

.cadastro-login{

	width: 330px;
	height: 510px;
	background: #fff;
	box-shadow: 2px 2px 2px black;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	
	
}

.login-index {

padding: 10px;

}

.formulario-index{
	
	max-width: 35ch;
	max-height: 25px;
	margin: 0px 10px 0px 15px;
	width: 100%;
	height: 1px;
}

.botao-index{

	position: absolute;
	margin:40px 105px;
}


.cadastro-index{


	padding: 220px 5px 5px 10px ;
	width: 330px;
	height: 70px;
	text-align: center;
}

.btn-custom {

	border-radius: 10px !important;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin:15px 20px 0px 20px;
	

}

.rodape-index{

	margin: 60px 0px 0px 0px;
	width: 100%;
	height: 129px;

}

.img-rodape {

	display: block;
	width: 127px;
	height: 30px;
	background:url('../imagens/logo-rodape.png')no-repeat;
	background-size: contain;
	color: transparent;
	margin-top: 15px
}





}

/* --------------------------------- ms > 541px -------------------------------------*/

@media screen and (min-width: 541px){

	body {
		
	}

	/* ------------------------------------ pagina index ----------------- */


	.img-logo{
	width: 260px;
	height: 30px;
	margin: 50px 10px 20px 178px;
	background: url('../imagens/entretenimento.png')no-repeat;
	background-size: contain;

}

.conteudo-index{

	width: 100%;
	height: 750px;
	padding: 70px 10px 0px 125px;
	margin-top: 50px;
}

.cadastro-login{

	width: 380px;
	height: 520px;
	background: #fff;
	box-shadow: 2px 2px 2px black;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.login-index {

padding: 10px;

}


.formulario-index{
	
	max-width: 42ch;
	max-height: 25px;
	margin: 0px 10px 0px 15px;
	width: 100%;
	height: 1px;
}

.botao-index{

	margin:55px 135px;
}

.cadastro-index{

	padding: 220px 5px 5px 65px ;
	width: 330px;
	height: 70px;
	text-align: center;
}

.btn-custom {

	border-radius: 10px !important;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin:25px 20px 0px 20px;
	

}


.rodape-index{

	margin: 25px 0px 0px 0px;
	width: 100%;
	height: 129px;

}

.img-rodape {

	display: block;
	width: 137px;
	height: 30px;
	background:url('../imagens/logo-rodape.png')no-repeat;
	background-size: contain;
	color: transparent;
	margin-top: 15px
}


}

/* --------------------------------- ms > 767px -------------------------------------*/

@media screen and (min-width: 767px){

	body {

		
		
	}

	/* ------------------------------------ pagina index ----------------- */
	.img-logo{
	width: 300px;
	height: 34px;
	margin: 50px 10px 20px 225px;
	background: url('../imagens/entretenimento.png')no-repeat;
	background-size: contain;

}

.conteudo-index{

	width: 100%;
	height: 750px;
	padding: 70px 10px 0px 180px;
	margin-top: 50px;
}

.cadastro-login{

	width: 415px;
	height: 560px;
	background: #fff;
	box-shadow: 2px 2px 2px black;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	
	
}

.formulario-index{
	
	max-width: 42ch;
	max-height: 25px;
	margin: 0px 10px 0px 28px;
	width: 100%;
	height: 1px;
}

.botao-index{

	margin:55px 135px;
}

.cadastro-index{

	padding: 240px 5px 5px 100px ;
	width: 330px;
	text-align: center;
}

.img-rodape {
	width: 175px;
	height: 32px
}

}


/* ------------------------------------md < 992 ----------------- */

@media screen and (min-width: 992px){

	body {

		
		
	}

	/* ------------------------------------ pagina index ----------------- */

	.img-logo{
	width: 300px;
	height: 34px;
	margin: 50px 10px 20px 340px;
	background: url('../imagens/entretenimento.png')no-repeat;
	background-size: contain;

}

.conteudo-index{

	width: 100%;
	height: 750px;
	padding: 70px 10px 0px 290px;
	margin-top: 50px;
}

.cadastro-login{

	width: 415px;
	height: 560px;
	background: #fff;
	box-shadow: 2px 2px 2px black;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	
}

.formulario-index{
	
	max-width: 45ch;
	max-height: 25px;
	margin: 0px 0px 0px 0px;
	width: 100%;
	height: 10px;
}

.botao-index{

	margin:55px 130px;
}

.cadastro-index{

	padding: 295px 5px 5px 92px ;
	width: 330px;
	height: 70px;
	text-align: center;
}


.btn-custom {

margin: 0px 55px 0px 10px;
	border-radius: 10px !important;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin:25px 20px 0px 20px;
	

}

.btn-estabelecimento{

	margin-left: 35px
}

.btn-usuario {
	margin-left: 27px
}

}

/* ------------------------------------md < 1200 ----------------- */

@media screen and (min-width: 1200px){

	body {

		
		
	}

	.img-logo{
	width: 300px;
	height: 34px;
	margin: 50px 10px 20px 415px;
	background: url('../imagens/entretenimento.png')no-repeat;
	background-size: contain;

}

.conteudo-index{

	width: 100%;
	height: 750px;
	padding: 70px 10px 0px 370px;
	margin-top: 50px;
}

.cadastro-login{

	width: 415px;
	height: 560px;
	background: #fff;
	box-shadow: 2px 2px 2px black;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	
}

.rodape-index{

	margin: 89px 0px 0px 0px;
	height: 153px;
	width: 100%;


}
}

