/*
*
* @author Celio Nascimento
* @version 1.0
*
*/

/* ================================= layout ======================== */

body {

	  

}

.img-logo {

	width: 167px;
	height: 24px;	
	background: url('../imagens/entretenimento.png')no-repeat;
	background-size: contain;
	display: block;
	color: transparent;
	margin-left: 80px;
	margin-top: 5px;
}

nav.navbar-barra-navegacao{

	padding: 0px 0px 15px 0px;
	background:#8B0000 !important;
	border: none;
}

.form-cadastro{

	margin-top: 100px;
	margin-left:145px;
}

#nome-cadastro{
	max-width: 97ch
}

#numero-endereco-cadastro {
	max-width: 12ch;
}

.btn-cadastrar {

	margin: 55px 290px;
}

.rodape-cadastro {
	background:#8B0000 !important;
	width: 100%;
	height:70px;
	margin-top: 348px;
	color: white;
	text-align: center;
}
.img-rodape {

	display: block;
	width: 127px;
	height: 30px;
	background:url('../imagens/entretenimento.png')no-repeat;
	background-size: contain;
	color: transparent;
	margin-top: 15px
}

.direitos {
	margin-top: 45px
}

.navbar-inverse .navbar-nav>li>a {
    color: white !important;
}

/* --------------------------------- media queries -------------------------------------*/

/* --------------------------------- xs < 540px -------------------------------------*/

@media screen and (max-width: 540px){

	body {

	
	}

	nav.navbar-barra-navegacao{

	padding: 0px 0px 15px 0px;
	border: none;
}

	.form-cadastro{

	margin-top: 100px;
	margin-left:0px;
}

	.btn-cadastrar {

	margin: 55px 125px;
}

	.rodape-cadastro {
	background:#8B0000 !important;
	width: 100%;
	height:165px;
	margin-top: 150px;
}

}

/* --------------------------------- xs > 541px -------------------------------------*/

@media screen and (min-width: 541px){

	body {
		
	}

.form-cadastro{

	margin-top: 100px;
	margin-left:10px;
}

	.btn-cadastrar {

	margin: 55px 230px;
}


	.rodape-cadastro {
	background:#8B0000 !important;
	width: 100%;
	height:165px;
	margin-top: 270px;
}

}

/* --------------------------------- ms > 767px -------------------------------------*/

@media screen and (min-width: 767px){

	body {

	}

	.form-cadastro{

	margin-top: 100px;
	margin-left:60px;
}

	.btn-cadastrar {

	margin: 55px 290px;
}
	.rodape-cadastro {
	background:#8B0000 !important;
	width: 100%;
	height:163px;
	margin-top: 270px;
}
}

/* --------------------------------- ms > 992px -------------------------------------*/


@media screen and (min-width: 992px){

	.form-cadastro{

	margin-top: 100px;
	margin-left:200px;
}

	.btn-cadastrar {

	margin: 55px 220px;
}


	.rodape-cadastro {
	background:#8B0000 !important;
	width: 100%;
	height:135px;
	margin-top: 270px;
}
}


/* --------------------------------- ms > 992px -------------------------------------*/


@media screen and (min-width: 1200px){

.form-cadastro{

	margin-top: 100px;
	margin-left:255px;
}


	.btn-cadastrar {

	margin: 55px 255px;
}


	.rodape-cadastro {
	background:#8B0000 !important;
	width: 100%;
	height:135px;
	margin-top: 270px;
}

}